name: Metrics
on:
  # Schedule updates (once a day)
  schedule: [{cron: "0 0 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options to match the image style
          user: your-github-username # <--- CHANGE THIS TO YOUR USERNAME
          template: classic
          base: header, activity, community, repositories
          config_timezone: Africa/Johannesburg # Optional: Set your timezone
          plugin_lines: yes
